In [ ]:
#Q1
#reference code
data = {
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35],
    'city': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)

#Answer code
import pandas as pd


# DataFrame creation
data = {
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35],
    'city': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)

In [ ]:
#Q2
#reference code
data = {
    'name': ['Tom', 'Jane', 'Alice'],
    'city': ['Boston', 'Denver', 'Seattle'],
    'age': [24, 29, 31],
    'py-score': [90, 85, 88]
}
df = pd.DataFrame(data)
#Answer code


# Method 1: Dictionary-style indexing
ages1 = df['age']
print(ages1)


# Method 2: Dot notation
ages2 = df.age
print(ages2)

In [ ]:
#Q3
#reference code
data = {
    'name': ['Alice', 'Bob', 'Charlie'],
    'city': ['New York', 'Los Angeles', 'Chicago'],
    'age': [25, 30, 35]
}
df = pd.DataFrame(data)

#Answer code
import pandas as pd


# Existing DataFrame
data = {
    'name': ['Tom', 'Jane', 'Alice'],
    'city': ['Boston', 'Denver', 'Seattle'],
    'age': [24, 29, 31],
    'py-score': [90, 85, 88]
}
df = pd.DataFrame(data)


# New student Series
new_student = pd.Series(data=['Daisy', 'Phoenix', 22, 82], index=df.columns, name=len(df))
df = pd.concat([df, pd.DataFrame([new_student])])


print(df)

In [ ]:
#Q4
#reference code
data = {
    'name': ['Alice', 'Bob', 'Charlie'],
    'city': ['New York', 'Los Angeles', 'Chicago'],
    'age': [25, 30, 35],
    'py-score': [90, 82, 88]
}
df = pd.DataFrame(data)

#Answer code
import pandas as pd


# DataFrame creation
data = {
    'name': ['Alice', 'Bob', 'Charlie'],
    'city': ['New York', 'Los Angeles', 'Chicago'],
    'age': [25, 30, 35]
}
df = pd.DataFrame(data)


# Drop row where name is 'Charlie'
df = df[df['name'] != 'Charlie']
print(df)