In [ ]:
#Q1
#Reference code


classes_scores =np.array ([
    [  # Class 1
        [78, 82],  # Student 1 scores
        [85, 89],  # Student 2 scores
        [91, 94],  # Student 3 scores
        [88, 90]   # Student 4 scores
    ],
    [  # Class 2
        [75, 80],  # Student 1 scores
        [82, 85],  # Student 2 scores
        [79, 81],  # Student 3 scores
        [91, 95]   # Student 4 scores
    ],
    [  # Class 3
        [92, 95],  # Student 1 scores
        [88, 90],  # Student 2 scores
        [85, 88],  # Student 3 scores
        [90, 92]   # Student 4 scores
    ]
])

In [ ]:
#Q2
#reference code
# Suppose we have data for 3 classes, each with 4 students, and we're recording 2 scores for each student.


classes_scores =np.array ([
    [  # Class 1
        [78, 82],  # Student 1 scores
        [85, 89],  # Student 2 scores
        [91, 94],  # Student 3 scores
        [88, 90]   # Student 4 scores
    ],
    [  # Class 2
        [75, 80],  # Student 1 scores
        [82, 85],  # Student 2 scores
        [79, 81],  # Student 3 scores
        [91, 95]   # Student 4 scores
    ],
    [  # Class 3
        [92, 95],  # Student 1 scores
        [88, 90],  # Student 2 scores
        [85, 88],  # Student 3 scores
        [90, 92]   # Student 4 scores
    ]
])
#Answer code
classes_scores =np.array ([
    [  # Class 1
        [78, 82],  # Student 1 scores
        [85, 89],  # Student 2 scores
        [91, 94],  # Student 3 scores
        [88, 90]   # Student 4 scores
    ],
    [  # Class 2
        [75, 80],  # Student 1 scores
        [82, 85],  # Student 2 scores
        [79, 81],  # Student 3 scores
        [91, 95]   # Student 4 scores
    ],
    [  # Class 3
        [92, 95],  # Student 1 scores
        [88, 90],  # Student 2 scores
        [85, 88],  # Student 3 scores
        [90, 92]   # Student 4 scores
        [66, 77]   # Student 5 scores
    ]
])